BASE_API=
BASE_WEB=https://www.saucedemo.com
INSTANCE=1
PASSWORD=<see password on website>
API_USER=
APP=
BUNDLE_ID=
UDID=
NO_RESET=
FULL_RESET=
DONT_STOP_APP_ON_RESET=
NEW_COMMAND_TIMEOUT=
AUTO_GRANT_PERMISSIONS=
AVD=
AVD_LAUNCH_TIMEOUT=
AVD_READY_TIMEOUT=
LOG=
CONN_RETRY_TIMEOUT=
CONN_RETRY_COUNT=
WAIT_START_TIME=
SPEC_FILE_RETRIES=
